.about-us-title {
  font-size: 32px;
  color: #496077;
  font-weight: 800;
  text-align: center;
  font-style: italic;
}

.mat-typography {
  color: #496077;
  overflow: auto;
  height: 560px;

  .about-us-section {
    padding: 0 24px 24px 24px;
    margin-bottom: 8px;

    .description {
      margin-bottom: 16px;

      p {
          font-size: 16px;
          margin: 0;
      }
    }

    .informations {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        border-radius: 50%;
        max-width: 50%;
        max-height: 50%;
      }

      h3 {
        font-size: 24px;
        font-weight: 800;
        margin-bottom: 0;
      }

      p {
          color: #496077;
          font-size: 14px;
          margin: 0;
      }
    }
  }
}
