.scroll-to-top {
  position: fixed;
  bottom: 16px;
  right: 16px;
  transition: all .2s ease-in-out;
  z-index: 20;
  display: none;

  button {
    cursor: pointer;
    border: none;
    outline: 0;
    background-color: white;
    border-radius: 100%;
    padding: 0;
    margin: 0;
    display: inline-block;
    padding: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.32);
    opacity: 0.8;

    // &:hover {
    //   background-color: rgb(var( --GB050-rgb));
    // }

    i { 
      background-color: white;
      color: #0084ff;
      border-radius: 100%;
      transition: all .4s ease-in-out;
      font-size: 32px;
      font-weight: bold;
    }
  }
 }

 .show-scrollTop {
    display: block;
    transition: all .2s ease-in-out;
 }