<section class="contact-form-section">
  <div class="left-content">
    <p class="p-phone-number">0755 285 185</p>
    <p class="p-email-contact">tbnanea@gmail.com</p>
    <div class="admin-actions">
        <a href="tel:0755285185" class="call">
          <i class="material-icons">local_phone</i> 
          <p>Sună</p> 
        </a>
        <a href="https://www.messenger.com/t/Di.Tiberiu" target="_blank" class="write">
          <i class="material-icons">chat</i>
          <p>Scrie</p>
        </a>
    </div>
  </div>
  <form action="submit" class="form">
      <div class="form-content">
        <input placeholder="Numele și prenumele" type="text" class="name">
        <input placeholder="Email" type="text" class="email">
        <textarea rows="8" placeholder="Mesaj" type="text" class="message"></textarea>
        <div class="checkbox">
            <input id="checkbox" type="checkbox" tabindex="0" class="hidden">
            <label for="checkbox">
              Accept ca datele de mai sus să fie folosite pentru a fi contactat(ă) 
              în conformitate cu politica 
              de confidențialitate a datelor personale.
            </label>
        </div>
        <button type="submit" class="submitForm" disabled>Trimite</button>
      </div>
  </form>
</section>