<section class="footer-section">
  <div class="footer-socials">
    <a href="https://www.facebook.com/Di.Tiberiu/?modal=admin_todo_tour">
      <!-- <i class="fab fa-facebook-square"></i> -->
      <i class="fa fa-facebook-square"></i>
    </a>

    <!-- <i class="material-icons">fiber_manual_record</i> -->
    <!-- <a href="https://www.messenger.com/t/Di.Tiberiu">
      <i class="fa fa-facebook-messenger"></i>
      messenger
    </a> -->
    
    <!-- <i class="material-icons">fiber_manual_record</i> -->
    <a href="https://www.instagram.com">
      <i class="fa fa-instagram"></i>
    </a>
  </div>

  <div class="footer-logo">
    <a href="http://nadalifilms.ro" class="copy-right">
      <img src="/assets/images/logo.png">
      <p class>copyright © 2020</p>
    </a>
  </div>
</section>